<title>{{title}} | Fabrica - Manufacturing Services Website TailwindCSS 4 Template</title>
<!-- Meta Tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="title" content="Fabrica - Manufacturing Services Website TailwindCSS 4 Template">
<meta name="description" content="Professional Manufacturing Services Website Template built with TailwindCSS 4. Ideal for factories, industrial companies, production plants, and engineering businesses. Fully responsive, modern, and easy to customize.">
<meta name="keywords" content="manufacturing website template, industrial website, factory website template, tailwind css manufacturing template, production company website, engineering services template, industrial tailwind template">
<meta name="author" content="Mostafa Akajdid">
<meta name="robots" content="index, follow">
<!-- Favicon icons -->
<link rel="shortcut icon" href="assets/images/favicon.svg">